/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.menu-a:visited{
  color: #fff;
}

.menu-a:hover, .menu-a:focus,
.menu-a:active{
  text-decoration: none;
  color: #ff6d00 !important;
}

.drop-item:visited{
  color:black;
}

.drop-item:hover, .drop-item:focus,
.drop-item:active{
  text-decoration: none;
  color: #ff6d00 !important;
}

.dark-side{
  background-color: black !important;
  color: white;
}

.dark-side a {
  color: white !important;
}


.error{
  color: #d50000 !important;
}