<body>
  <div>
    <mz-navbar navbarClass="black">
      <a href="javascript:void(0)" class="brand-logo left">Exchange</a>
      <mz-navbar-item-container [align]="'right'">
        <mz-navbar-item>
          <a id="menu-dropdown" class="menu-a" href="#">
            menu
            <i class="material-icons right">arrow_drop_down</i>
          </a>
        </mz-navbar-item>
      </mz-navbar-item-container>
    </mz-navbar>
    <mz-dropdown
      [id]="'dropdown-demo'"
      [dropdownButtonId]="'menu-dropdown'"
      [align]="'left'"
      [belowOrigin]="true"
      [constrainWidth]="false"
    >
      <mz-dropdown-item>
        <a (click)="loginModal.openModal()">Iniciar Sesión</a>
      </mz-dropdown-item>
      <mz-dropdown-item>
        <a (click)="registerModal.openModal()">Registrarse</a>
      </mz-dropdown-item>
    </mz-dropdown>
  </div>
  <nav class="grey darken-4">
    <div class="nav-wrapper">
      <ul>
        <li><a href="#">Bitcoin <b class="orange-text text-accent-4">7000$</b></a></li>
        <li><a href="#">Ethereum <b class="orange-text text-accent-4">400$</b></a></li>
        <li><a href="#">Bitcoin Cash <b class="orange-text text-accent-4">2700$</b></a></li>
        <li><a href="#">Dolar <b class="orange-text text-accent-4">700$</b></a></li>
      </ul>
    </div>
  </nav>

  <div>
    <div class="parallax-section">
      <div class="container">
        <br><br>
        <h1 class="header center orange-text text-accent-4">Exchange</h1>
        <div class="row center">
          <h5 class="header col s12 light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eleifend convallis nisi eget lacinia.</h5>
        </div>
        <div class="center">
          <a href="#!" id="download-button" (click)="openRegister()" class="btn-large waves-effect waves-light orange accent-4 center">Unirse</a>
        </div>
      </div>
    </div>
    <mz-parallax
      [height]="300">
      <img class="parallax-image" src="../assets/img/background1.jpg">
    </mz-parallax>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center orange-text text-accent-4"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Lorem ipsum</h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eleifend convallis nisi eget lacinia. Nam nunc nisi, varius a porttitor in, malesuada vel eros. Suspendisse posuere, mi eget placerat tempor, sem arcu blandit tellus, id pretium tellus sapien in nisl. Quisque sollicitudin posuere facilisis.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center orange-text text-accent-4"><i class="material-icons">group</i></h2>
            <h5 class="center">Lorem ipsum </h5>

            <p class="light">Nulla sed sem porttitor lorem egestas sagittis. Praesent venenatis viverra erat ut aliquet. Nulla at sodales massa. Mauris euismod suscipit nisl, quis posuere purus ultricies consequat. Nullam sodales ultrices lacus. In sit amet lacinia dolor. Duis lobortis sem a ligula egestas molestie.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center orange-text text-accent-4"><i class="material-icons">settings</i></h2>
            <h5 class="center">Lorem ipsum </h5>

            <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque facilisis tincidunt nibh, et porta purus euismod sit amet. Duis vitae orci magna. Aenean pretium, ante at lacinia fringilla, urna tortor vehicula mauris, porttitor laoreet neque tortor sit amet dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-section">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque facilisis tincidunt nibh, et porta purus euismod sit amet. Duis vitae orci magna.</h5>
        </div>
      </div>
    </div>
    <mz-parallax
      [height]="300">
      <img class="parallax-image" src="../assets/img/background2.png">
    </mz-parallax>
  </div>

    <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>

  <div class="parallax-section">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="center">
          <h5 class="header col s12 light">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h5>
        </div>
      </div>
    </div>
    <mz-parallax
      [height]="300">
      <img class="parallax-image" src="../assets/img/background1.jpg">
    </mz-parallax>
  </div>

  <footer class="page-footer orange accent-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque facilisis tincidunt nibh, et porta purus euismod sit amet. Duis vitae orci magna. Aenean pretium, ante at lacinia fringilla, urna tortor vehicula mauris, porttitor laoreet neque tortor sit amet dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Copyright <a class="brown-text text-lighten-3">Exchange</a>
      </div>
    </div>
  </footer>

  <!-- Modal Register -->
  <mz-modal #registerModal [fixedFooter]="true">
    <mz-modal-header>
      <h4>Registrarse</h4>
    </mz-modal-header>
    <mz-modal-content>
      <div>

        <div class="col m12">

          <div class="input-field">
                <i class="tiny material-icons prefix">account_circle</i>
                <input type="text" name="register_username" [(ngModel)]="registerModel.username">
                <label for="icon_prefix">Nombre de Usuario</label>
                <div class="error" *ngIf="registerValidate.username_isInvalid">
                  {{registerValidate.username}}
                </div>
          </div>

        </div>

        <div class="col m12">

          <div class="input-field">
                <i class="tiny material-icons prefix">email</i>
                <input type="text" name="register_email" [(ngModel)]="registerModel.email">
                <label for="icon_prefix">Correo</label>
                <div class="error" *ngIf="registerValidate.email_isInvalid">
                  {{registerValidate.email}}
                </div>
          </div>

        </div>

        <div class="col m12">

          <div class="input-field">
                <i class="tiny material-icons prefix">contacts</i>
                <input type="text" name="register_first_name" [(ngModel)]="registerModel.first_name">
                <label for="icon_prefix">Nombre</label>
                <div class="error" *ngIf="registerValidate.first_name_isInvalid">
                  {{registerValidate.first_name}}
                </div>
          </div>

        </div>

        <div class="col m12">

          <div class="input-field">
                <i class="tiny material-icons prefix">contacts</i>
                <input type="text" name="register_last_name" [(ngModel)]="registerModel.last_name">
                <label for="icon_prefix">Apellido</label>
                <div class="error" *ngIf="registerValidate.last_name_isInvalid">
                  {{registerValidate.last_name}}
                </div>
          </div>

        </div>

        <div class="col m12">

          <div class="input-field">
                <i class="tiny material-icons prefix">lock</i>
                <input type="password" name="register_password" [(ngModel)]="registerModel.password">
                <label for="icon_prefix">Contraseña</label>
                <div class="error" *ngIf="registerValidate.password_isInvalid">
                  {{registerValidate.password}}
                </div>
          </div>

        </div>

        <div class="col m12">

          <div class="input-field">
                <i class="tiny material-icons prefix">lock</i>
                <input type="password" name="register_password_repeat" [(ngModel)]="registerModel.password_repeat">
                <label for="icon_prefix">Repita su contraseña</label>
                <div class="error" *ngIf="registerValidate.password_repeat_isInvalid">
                  {{registerValidate.password_repeat}}
                </div>
          </div>

        </div>

      </div>
    </mz-modal-content>
    <mz-modal-footer>
      <a class="waves-effect waves-green btn-flat" mz-modal-close>Cerrar</a>
      <a class="modal-action waves-effect waves-green btn-flat" (click)="makeRegister()">
        Aceptar</a>
    </mz-modal-footer>
  </mz-modal>

 <!-- Modal Login -->
  <mz-modal #loginModal [fixedFooter]="true">
    <mz-modal-header>
      <h4>Login</h4>
    </mz-modal-header>
    <mz-modal-content>
      <div>

        <div class="login_first" *ngIf="login_active; else login_second">
          <div class="col m12">

            <div class="input-field">
              <i class="tiny material-icons prefix">account_circle</i>
              <input type="text" name="login_username" [(ngModel)]="loginModel.username">
              <label for="icon_prefix">Usuario</label>
              <div class="error" *ngIf="loginValidate.username_isInvalid">
                {{loginValidate.username}}
              </div>
            </div>

          </div>

          <div class="col m12">

            <div class="input-field">
              <i class="tiny material-icons prefix">lock</i>
              <input type="password" name="login_password" [(ngModel)]="loginModel.password">
              <label for="icon_prefix">Contraseña</label>
              <div class="error" *ngIf="loginValidate.password_isInvalid">
                {{loginValidate.password}}
              </div>
            </div>

          </div>
        </div>

        <ng-template #login_second>
          <div class="col m12">
            <div class="input-field">
              <i class="tiny material-icons prefix">email</i>
              <input type="text" name="login_code" [(ngModel)]="loginModel.code">
              <label for="icon_prefix">Código de Validación</label>
              <div class="error" *ngIf="loginValidate.code_isInvalid">
                {{loginValidate.code}}
              </div>
            </div>
          </div>
        </ng-template>

      </div>
    </mz-modal-content>
    <mz-modal-footer>
      <a class="waves-effect waves-green btn-flat" mz-modal-close>Cerrar</a>
      <a class="modal-action waves-effect waves-green btn-flat" (click)="makeLogin()">
        Acceder</a>
      <a class="waves-effect waves-green btn-flat" (click)="backLogin()" *ngIf="!login_active">
        Retroceder</a>
    </mz-modal-footer>
  </mz-modal>



</body>