<div class="card-panel grey lighten-4">

  <div class="row">
    <div class="col m12">
      <h4 class="center">Configuración</h4>
    </div>
  </div>

  <div class="row">
    <div class="col m12 s12">
      <mz-card
        [hoverable]="true">
        <mz-card-title>
          Conexión Actual
        </mz-card-title>
        <mz-card-content>
          <ul class="collection">
            <li class="collection-item">
              <strong>Nombre del Dispositivo:</strong> {{myCurrentDevice.name}}
            </li>
            <li class="collection-item">
              <strong>Dirección Ip:</strong> {{myCurrentDevice.ip}}
            </li>
            <li class="collection-item">
              <strong>Dispositivo:</strong> {{myCurrentDevice.browser}}
            </li>
          </ul>
        </mz-card-content>
        <mz-card-action>
          <div class="center">
            <button mz-button class="waves-effect waves-light orange accent-4" (click)="addDevice()">
              <i class="tiny material-icons">add_circle</i> Agregar este Dispositivo
            </button>
          </div>
        </mz-card-action>
      </mz-card>
    </div>
  </div>

  
  <h4 class="center">Mis Dispositivos</h4>
    
    <div class="card">
      <table class="responsive-table highlight">
        <thead>
          <tr>
            <th>Nombre del Dispositivo</th>
            <th>Dirección Ip</th>
            <th>Dispositivo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let device of myDevices">
            <td>{{device.nombre}}</td>
            <td>{{device.direccion_ip}}</td>
            <td>{{device.navegador}}</td>
          </tr>
        </tbody>
      </table>
      <ul class="pagination center">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      </ul>
  </div>

</div>