<div class="row">
	<div class="col m12">
	  <h4 class="center">Precios</h4>
	</div>
</div>

<div class="row">
	<div class="col s12 m12">
		<mz-card
        [hoverable]="true"
        [horizontal]="true">
        <mz-card-title>
          $
        </mz-card-title>
        <mz-card-content>
          <ul class="collection">
		          <li class="collection-item"><strong>BTC:</strong> {{mxnValue.btc}} </li>
		          <li class="collection-item"><strong>ETH:</strong> {{mxnValue.eth}} </li>
		          <li class="collection-item"><strong>BCH:</strong> {{mxnValue.bch}} </li>
		          <li class="collection-item"><strong>XRP:</strong> {{mxnValue.xrp}} </li>
		          <li class="collection-item"><strong>USD:</strong> {{mxnValue.usd}} </li>
		        </ul>
        </mz-card-content>
      </mz-card>
	</div>
</div>
