<div class="row">
	<div class="col m12">
	  <h4 class="center">Mi Cartera</h4>
	</div>
</div>
<div class="row center">
	<div class="col s2"><a class="cripto_currency yellow-text text-darken-1" (click)="getBtcValue()">
		<h5>BTC</h5>
	</a></div>
	<div class="col s2"><a class="cripto_currency blue-text" (click)="getEthValue()">
		<h5>ETH</h5>
	</a></div>
	<div class="col s2"><a class="cripto_currency green-text" (click)="getBchValue()">
		<h5>BCH</h5>
	</a></div>
	<div class="col s2"><a class="cripto_currency red-text" (click)="getPetValue()">
		<h5>PET</h5>
	</a></div>
	<div class="col s2"><a class="cripto_currency orange-text" (click)="getMxnValue()">
		<h5>MXN</h5>
	</a></div>
	<div class="col s2"><a class="cripto_currency grey-text" (click)="getBsValue()">
		<h5>BS</h5>
	</a></div>
</div>

<div class="row">
	<div class="col s12">
		<mz-card
			[horizontal]="true"
		  [hoverable]="true">
		  <mz-card-image>
		    <img src="../assets/img/background1.jpg"/>
		  </mz-card-image>
		  <mz-card-title>
		    {{currencyModel.name}}
		  </mz-card-title>
		  <mz-card-action>
		    <h4>{{currencyModel.value}}</h4>
		  </mz-card-action>
		</mz-card>
	</div>
</div>



<h4 class="center">Transacciones</h4>
<div class="transacctions">

	<div class="row">
	  <div class="col s12">
	    <mz-card
			  [hoverable]="true">
			  <mz-card-title>
			    Transacción Nro. 213546
			  </mz-card-title>
			  <mz-card-content>
			    <ul class="collection">
	          <li class="collection-item"><strong>Tipo:</strong> Compra</li>
	          <li class="collection-item"><strong>Precio:</strong> 200 pesos</li>
	          <li class="collection-item"><strong>Fecha:</strong> 05/05/2018 08:54 am</li>
	          <li class="collection-item"><strong>Monto:</strong> 0.0025 BTC</li>
	        </ul>
			  </mz-card-content>
			</mz-card>
	  </div>
	</div>

	<div class="row">
	  <div class="col s12">
	  	<mz-card
			  [hoverable]="true">
			  <mz-card-title>
			    Transacción Nro. 1354313
			  </mz-card-title>
			  <mz-card-content>
			    <ul class="collection">
	          <li class="collection-item"><strong>Tipo:</strong> Compra</li>
	          <li class="collection-item"><strong>Precio:</strong> 5000000 bs</li>
	          <li class="collection-item"><strong>Fecha:</strong> 05/05/2018 03:15 pm</li>
	          <li class="collection-item"><strong>Monto:</strong> 0.0025 LTC</li>
	        </ul>
			  </mz-card-content>
			</mz-card>
	  </div>
	</div>

	<div class="center">
	  <button class="btn waves-effect waves-light orange accent-4"><i class="tiny material-icons">loop</i> Ver Más</button>
	</div><br/>

</div>
