/*Wallet Currency*/
.cripto_currency{
  cursor:pointer;
}

.cripto_currency.yellow-text:hover {
  text-decoration: underline solid #fdd835;
}

.cripto_currency.blue-text:hover {
  text-decoration: underline solid #2196F3;
}

.cripto_currency.green-text:hover {
  text-decoration: underline solid #4CAF50;
}

.cripto_currency.red-text:hover {
  text-decoration: underline solid #F44336;
}

.cripto_currency.orange-text:hover {
  text-decoration: underline solid #ff9800;
}

.cripto_currency.grey-text:hover {
  text-decoration: underline solid #9e9e9e;
}

/* Transacciton History */
.transacctions{
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
  max-height: 450px;
  overflow-y: scroll;
  padding: 15px;
}

.transacctions .card{
  padding: 10px;
}

.img-small{
  width: 3rem;
}