<h4 class="center">Perfil</h4>

<div>

  <mz-input-container class="col m12">
    <i mz-icon-mdi mz-input-prefix
      [icon]="'account-circle'">
    </i>
    <input mz-input
      [label]="'Nombre de Usuario'"
      [(ngModel)]="profileModel.username"
      disabled="disabled" 
      type="text">
  </mz-input-container>

  <mz-input-container class="col m12">
    <i mz-icon-mdi mz-input-prefix
      [icon]="'email'">
    </i>
    <input mz-input
      [label]="'Correo'"
      [(ngModel)]="profileModel.email"
      disabled="disabled"
      type="text">
  </mz-input-container>

  <mz-input-container class="col m12">
    <i mz-icon-mdi mz-input-prefix
      [icon]="'contacts'">
    </i>
    <input mz-input
      [label]="'Nombre'"
      [(ngModel)]="profileModel.first_name"
      disabled="disabled"
      type="text">
    <!--<div class="error" *ngIf="registerValidate.username_isInvalid">
        {{registerValidate.username}}
      </div>-->
  </mz-input-container>

  <mz-input-container class="col m12">
    <i mz-icon-mdi mz-input-prefix
      [icon]="'contacts'">
    </i>
    <input mz-input
      [label]="'Apellido'"
      [(ngModel)]="profileModel.last_name"
      disabled="disabled"
      type="text">
    <!--<div class="error" *ngIf="registerValidate.username_isInvalid">
        {{registerValidate.username}}
      </div>-->
  </mz-input-container>

  <div class="row">

    <mz-select-container class="col s12 m6">
      <i class="tiny material-icons prefix">payment</i>
      <select mz-select
      [label]="'Tipo de Identificador'"
      [placeholder]="'Seleccione...'"
      [(ngModel)]="profileModel.tipo_indentificador"
      (change)="setIdentificador(identificador.value)"
      >
        <option *ngFor="let ti of tipo_identificador" [value]="ti.id">
          {{ti.name}}
        </option>
      </select>
    </mz-select-container>

    <mz-input-container class="col m6">
      <i mz-icon mz-input-prefix
        [icon]="'payment'">
      </i>
      <input mz-input
        [label]="'Nro de Indenficación'"
        [(ngModel)]="profileModel.identificador"
        type="text">
      <!--<div class="error" *ngIf="registerValidate.username_isInvalid">
          {{registerValidate.username}}
        </div>-->
    </mz-input-container>

  </div>

  <div class="row">

    <mz-select-container class="col s12 m6">
      <i class="tiny material-icons prefix">public</i>
      <select mz-select
      [label]="'Pais'"
      [placeholder]="'Seleccione...'"
      (change)="setCountry(countries.value)"
      >
        <option *ngFor="let c of country" [value]="c.pk">
          {{c.nombre}}
        </option>
      </select>
    </mz-select-container>

    <mz-input-container class="col m6">
      <i mz-icon mz-input-prefix
        [icon]="'room'">
      </i>
      <input mz-input
        [label]="'Ciudad'"
        [(ngModel)]="profileModel.ciudad"
        type="text">
      <!--<div class="error" *ngIf="registerValidate.username_isInvalid">
          {{registerValidate.username}}
        </div>-->
    </mz-input-container>

  </div>

  <mz-input-container class="col m12">
    <i mz-icon mz-input-prefix
      [icon]="'drafts'">
    </i>
    <input mz-input
      [label]="'Zip'"
      [(ngModel)]="profileModel.zip_code"
      type="text">
    <!--<div class="error" *ngIf="registerValidate.username_isInvalid">
        {{registerValidate.username}}
      </div>-->
  </mz-input-container>

  <mz-input-container class="col m12">
    <i mz-icon mz-input-prefix
      [icon]="'book'">
    </i>
    <input mz-input
      [label]="'Dirección'"
      [(ngModel)]="profileModel.direccion"
      type="text">
    <!--<div class="error" *ngIf="registerValidate.username_isInvalid">
        {{registerValidate.username}}
      </div>-->
  </mz-input-container>

  <div class="col m12 center">
    <button class="btn waves-effect waves-green" (click)="updateProfile()">Actualizar</button>
  </div>

</div>

<h5 class="center">Cambiar Contraseña</h5><hr/>

<div class="row">

  <mz-input-container class="col m12">
    <i mz-icon mz-input-prefix
      [icon]="'lock_open'">
    </i>
    <input mz-input
      [label]="'Contraseña Actual'"
      [(ngModel)]="changepassModel.password"
      type="password">
    <div class="error" *ngIf="changePasswordValidate.password_isInvalid">
      {{changePasswordValidate.password}}
    </div>
  </mz-input-container>

  <mz-input-container class="col m12">
    <i mz-icon mz-input-prefix
      [icon]="'lock'">
    </i>
    <input mz-input
      [label]="'Nueva Contraseña'"
      [(ngModel)]="changepassModel.new_password"
      type="password">
    <div class="error" *ngIf="changePasswordValidate.new_password_isInvalid">
      {{changePasswordValidate.new_password}}
    </div>
  </mz-input-container>

  <mz-input-container class="col m12">
    <i mz-icon mz-input-prefix
      [icon]="'lock'">
    </i>
    <input mz-input
      [label]="'Repita la Nueva Contraseña'"
      [(ngModel)]="changepassModel.new_password_repeat"
      type="password">
    <div class="error" *ngIf="changePasswordValidate.new_password_repeat_isInvalid">
      {{changePasswordValidate.new_password_repeat}}
    </div>
  </mz-input-container>

  <div class="col m12 center">
    <button class="btn waves-effect waves-green" (click)="changePassword()">Cambiar</button>
  </div>

</div>