header, main, footer {
	padding-left: 300px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

.body-central{
	margin: 0.5rem 25px 1rem 25px;
}

.side-nav li h5, .side-nav li b{
    padding: 0 23.5px 0 31px;
}

.side-nav li > a {
	color: white;
}