<body class="grey lighten-4">
  <mz-navbar navbarClass="black">
    <a href="javascript:void(0)" class="brand-logo left">Exchange</a>
    <a class="hide-on-large-only mz-button" id="exchange-side-button">
    	<i class="material-icons right">menu</i>
    </a>
    <mz-navbar-item-container [align]="'right'">
      <mz-navbar-item>
        <a id="menu-dropdown" class="menu-a" href="#">
          Bienvenido <b>Anonimo</b>
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </mz-navbar-item>
    </mz-navbar-item-container>
  </mz-navbar>
  <mz-dropdown
    [id]="'dropdown-demo'"
    [dropdownButtonId]="'menu-dropdown'"
    [align]="'left'"
    [belowOrigin]="true"
    [constrainWidth]="false"
  >
    <mz-dropdown-item>
      <a class="drop-item" [routerLink]="['/dashboard/profile']">Perfil</a>
    </mz-dropdown-item>
    <mz-dropdown-item>
      <a class="drop-item" [routerLink]="['/dashboard/configuration']">Configuración</a>
    </mz-dropdown-item>
    <mz-dropdown-item>
      <a class="drop-item" (click)="logout()">Cerrar Sesión</a>
    </mz-dropdown-item>
  </mz-dropdown>
	<main>
  	<mz-sidenav
    [id]="'exchange-side'"
    [fixed]="true"
    [collapseButtonId]="'exchange-side-button'"
    [backgroundClass]="'dark-side'"
    >
  	  <mz-sidenav-header>
  	    Bienvenido Invitado
  	  </mz-sidenav-header>
      <mz-sidenav-link>
      	<a [routerLink]="['/dashboard']">Cartera</a>
    	</mz-sidenav-link>
    	<mz-sidenav-link>
      	<a [routerLink]="['/dashboard/prices']">Precios</a>
    	</mz-sidenav-link>
    	<mz-sidenav-link>
      	<a href="#!">Compra/Venta</a>
    	</mz-sidenav-link>
    	<mz-sidenav-link>
      	<a [routerLink]="['/dashboard/graphics']">Graficos</a>
    	</mz-sidenav-link>
  	</mz-sidenav>
  	
  	<div class="card-panel">
  		<router-outlet></router-outlet>
  	</div>
	</main>
	<footer class="page-footer black">
		<div class="">
			<div class="center white-text">
				<p>
					<b>Copyright </b> <span id="year-info-develop"></span>
				</p>
			</div>
		</div>
	</footer>
</body>